<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<!-- bean tag is used to create a class object/bean
	id attribute-bean name
	class attribute class-name -->

	<bean id="s1" class="com.lti.App.Airtel"></bean>

</beans>